body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.container{
    width: 400px;
    margin: 80px auto 0 auto;
}
input{
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 12px;
}
input:focus{
    outline: none;
    border: 1px solid royalblue;
}
.taskInput{
    width: 87%;
}
.dateInput{
    width: 13%;
}
.flex{
    display: flex;
    gap: 8px;
}
.btn{
    padding: 14px 24px;
    font-size: 16px;
    color: white;
    background-color: black;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.alert{
    text-align: center;
    background-color: rgb(0, 114, 228);
    color: white;
    padding: 16px 0;
    font-size: 16px;
}
.title{
    margin: 0;
}
.desc{
    margin-top: 6px;
    color: rgb(80, 80, 80);
}
.todos-container{
    width: 400px;
    margin: 20px auto;
}
.card{
    border: 1px solid rgba(255, 184, 30, 0.361);
    /* box-shadow: 4px 7px 15px 6px #eee; */
    background-color: rgba(255, 188, 30, 0.065);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 12px;
    
}
.card-flex{
    display: flex;
    align-items: center;
    gap: 12px;
}
.task{
    font-size: 18px;
}
.checkbox{
    margin: 0;
}
.dueDate{
    color: gray;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 24px;
}
.add-task{
    background-color: #fff;
    padding: 0;
    border: none;
    margin: 0;
    cursor: pointer;
}
.add-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    color: gray;
}
.d-none{
    display: none;
}
.task-edit{
    background-color: transparent;
    padding: 0;
    border:none;
    width: 100%;
    margin-bottom: 0;
}
.task-edit:focus{
    outline: none;
    border: none;
}
.checkbox:checked+.task-edit{
    
    text-decoration: line-through;
}

.checkbox:checked>.card{
    background-color: red;
}
.test{
    color: red;
}