@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
$theme-colors: (
  "primary":    rgb(229, 9, 20),
  "secondary":  rgb(45, 45, 45),
  "light":      white,
  "dark":       black,
);

$font-family-sans-serif: 'Inter', sans-serif;
$accordion-border-color:  transparent;
$accordion-border-radius:  0;
$accordion-inner-border-radius: 0; 
$accordion-padding-y: 1.725rem;
$accordion-button-focus-box-shadow: 0 0 0 transparent;
$accordion-button-color:  white;
$accordion-button-bg: rgb(45, 45, 45);
$accordion-button-active-color: white;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
body{
    background-color: black;
}
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
